/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1, h2 {
    color: #FFD700; /* Golden Yellow for Titles */
}

/* Pool Assignment Section */
#assign-pools-section {
    margin-bottom: 30px;
}

#pool-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#player-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.player-pool {
    display: flex;
    flex-direction: column;
    width: 200px; /* Ensure a consistent width for dropdowns */
    margin-bottom: 10px;
}

.player-pool label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #FFD700;
}

select option {
    background-color: #333; /* Dark background for the options */
    color: white; /* White text */
}

#player-list select {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.submit-pools-button {
    background-color: #FFD700;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.submit-pools-button:hover {
    background-color: #FFC300;
}

/* Player Management Section */
#player-management-section {
    margin-bottom: 30px;
}

#add-player input {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

#add-player-button, #remove-player-button {
    background-color: #FFD700;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#add-player-button:hover, #remove-player-button:hover {
    background-color: #FFC300;
}

#remove-player-dropdown {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    #pool-form {
        flex-direction: column;
        gap: 20px;
    }

    .submit-pools-button {
        width: 100%;
        margin-top: 10px;
    }

    #player-management-section input, #remove-player-dropdown {
        width: 100%;
        margin-bottom: 10px;
    }
}
