/* Toast Notification Styles */
.toast {
    visibility: hidden;
    min-width: 30vw;
    background-color: #797979;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 50%;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, bottom 0.5s ease-in-out;
}

.toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 50%;
}

/* Responsive Styles for Toast Notification */
@media (max-width: 600px) {
    .toast {
        font-size: 4vw;
        min-width: 50vw;
    }
}
